@import "tailwindcss";

@theme {
  /* Configurando as cores da Teoria das Cores para 2026 */
  --color-orange-500: #FF4D00;
  --color-orange-600: #E64500;
  --color-slate-900: #0F172A;
  
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
}

/* Garante que o Tailwind procure classes em todo o projeto */
@source "../**/*.{js,ts,jsx,tsx,mdx}";

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}